<% include partials/header %>

<div class="container custom-container" style="margin-top:0">
    <h1>An Error Occurred</h1>
    <p><span style="color:red">In order to use our facial analysis tool, please be wary of the following: </span><br/>
    - You must upload a picture <br/>
    - The picture's file size must not exceed 2MB <br/>
    - The picture size must be between 48*48 and 4096*4096 (pixels)<br/>
    - The picture must be either JPG, JPEG, or PNG format<br/>
    - There must be a human face in the picture<br/>
    </p>
    <a href="/upload" class="btn-large light-blue darken-4">Back</a>
</div>




<% include partials/footer %>